/*background images from shuttershock - stock photography*/

/*body of the page*/
body {
  background-color: #4f2063;
  color: #f0d194;
  padding: 0;
  margin: 0;
  line-height: normal;
}

/*navbar section*/
.navbar, .navbar-nav, .navbar-brand, .nav-link, .navbar-toggler, .navbar-toggler-icon {
  background: #4f2063;
  color: #f0d194;
}

.navbar-expand-lg, .navbar-toggler{
  color: #f0d194;
  border-color: #f0d194;
  background-color: #4f2063;
}

/*The Welcome text section*/
.centered {
  padding: 25px;
  text-align: center;
  font-size: 50px;
  color: #f0d194;
}

/*background image*/
.hero {
  position: fixed;
  background-position: center;
  height: 100%;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/bg2.jpg");
  background-size: cover;
}

@media screen and (max-width: 768px) {

.navbar-toggler .navbar-expand-lg {
  border-radius: .25rem;
  color: #f0d194;
}

.navbar {
  border: 1px solid #f0d194;
}
 
.hero {
  display: inline;
  margin: 50px;
  width: 500px;
  height: 500px;
}

}