
/*body of the page*/
html, body {
  height: 100%;
}
    
body {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to left, #e0eeff, white);
  color: #4993cf;
}

/*This is the navbar section*/
.navbar, .navbar-nav, .navbar-brand, .nav-link, .navbar-toggler, .navbar-toggler-icon {
  /* background: #def2fb;*/
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.navbar-expand-lg, .navbar-toggler{
  color: white;
  border-color: #4993cf;
  /* background-color: #def2fb; */
  background-image: linear-gradient(to left, #91b3fa, #4993cf);
}

.nav-link:hover {
  border-top: 4px solid #ff8983;
}

/*Main Content*/
.container{
  padding: 10px;
  margin-top: 80px;
}


.aboutMe {
  font-family: 'Vast Shadow', cursive;
  text-align: center;
}

h3{
  font-family: 'Vast Shadow', cursive;
}

#contactIcons{
  color: #4993cf;
}


.myImage {
  width: 300px;
  height: 399px;
  border-radius: 50%;
  border: solid #4993cf;
  margin-left: 20px;
  float: left;
}

.about {
  font-size: 18px;
  margin-top: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #4993cf;
  float: left;
}

.about2 {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #4993cf;
  float: left;
}

/*Footer Section*/
.content {
  flex: 1 0 auto;
  color: #4993cf;
}

.footer {
  flex-shrink: 0;
  background-image: linear-gradient(to left, #91b3fa, #4993cf);
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

/*social links in the footer*/
.fa {
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.fa:hover {
  color: #ff8983 !important;
}

#social {
  color: #4993cf;
}

  /*Media Section*/
@media screen and (max-width: 808px) {

.navbar-toggler .navbar-expand-lg {
  border: 1px solid #4993cf;
  border-radius: .25rem;
  color: #4993cf;
}

.navbar {
  border: 1px solid #4993cf;
}

.myImage {
width: 200px;
height: 299px;
float: left;
}

h1, p {
  text-align: center;
}
}