/*background images from shuttershock - stock photography*/

/*body of the page*/
html, body {
  height: 100%;
}
    
body {
  display: flex;
  flex-direction: column;
  background: white;
   color: #4993cf;
}

/*This is the navbar section*/
.navbar, .navbar-nav, .navbar-brand, .nav-link, .navbar-toggler, .navbar-toggler-icon {
  background: def2fb;
  color: #4993cf;
  font-family: 'Montserrat', sans-serif;
}

.navbar-expand-lg, .navbar-toggler{
  color: #4993cf;
  border-color: #4993cf;
  background-color: #def2fb;
}


/*Main Content*/
.container{
  padding: 10px;
  margin-top: 80px;
  border: 1px dashed #4993cf;
}


h1 {
  font-family: 'Vast Shadow', cursive;
}

.about {
  font-size: 18px;
  margin-top: 50px;
  font-family: 'Montserrat', sans-serif;
  color: #4993cf;
  }

  .about1{
  font-size: 18px;
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
  color: #4993cf;
  }

  .overflow{
    
    margin-top: 15px;
    text-align: center;
  }

/*Footer Section*/
.content {
  flex: 1 0 auto;
  color: #4993cf;
}

.footer {
  flex-shrink: 0;
  background: #def2fb;
  color: #4993cf;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

/*social links in the footer*/
.fa {
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  color: #4993cf;
}

.fa:hover {
  opacity: 0.7;
  color: #a0d5ae;
}

#social {
  color: #4993cf;
}

  /*Media Section*/
  @media screen and (max-width: 768px) {

  .navbar-toggler .navbar-expand-lg {
    border: 1px solid #4993cf;
    border-radius: .25rem;
    color: #4993cf;
     }

  .navbar {
     border: 1px solid #4993cf;
     }

  img {
     display: block;
     margin: auto;
     width: 230px;
     height: 300px;
      }

  h1, p {
      text-align: center;
      }
  }    