/*background images from shuttershock - stock photography*/

/*body of the page*/
body {
  background-color: #4f2063;
  background-image: url("../images/gradient2.jpg");
  background-position: right;
  color: #f0d194;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: normal;
  text-align: center;
}

/*navbar section*/
.navbar, .navbar-nav, .navbar-brand, .nav-link, .navbar-toggler, .navbar-toggler-icon {
  background: #4f2063;
  color: #f0d194;
  font-family: 'Montserrat', sans-serif;
}

.navbar-expand-lg, .navbar-toggler {
  color: #f0d194;
  border-color: #f0d194;
  background-color: #4f2063;
}

/*Email Me Section*/
main {
  margin-top: 100px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.btn {
  color: #f0d194;
  background: #4f2063;
  font-family: 'Montserrat', sans-serif;
}

 /*Social icons*/
 
 .fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: #f0d194;
}

.fa:hover {
  opacity: 0.7;
  color: aqua;
}


/*Media Section*/
@media screen and (max-width: 768px) {

.navbar-toggler .navbar-expand-lg {
  border-radius: .25rem;
  color: #f0d194;
  }
  
.navbar {
  border: 1px solid #f0d194;
  }

.container {
  float: right;
  }
}
