/*background images from shuttershock - stock photography*/

/*body of the page*/
html, body {
  height: 100%;
}
    
body {
  display: flex;
  flex-direction: column;
  background: white;
   color: #4993cf;
}

/*This is the navbar section*/
.navbar, .navbar-nav, .navbar-brand, .nav-link, .navbar-toggler, .navbar-toggler-icon {
  background: def2fb;
  color: #4993cf;
  font-family: 'Montserrat', sans-serif;
}

.navbar-expand-lg, .navbar-toggler{
  color: #4993cf;
  border-color: #4993cf;
  background-color: #def2fb;
}


/*Email Me Section*/
.container {
  padding: 10px;
  margin-top: 90px;
  border: 1px dashed #4993cf;
}

.btn {
  color: #4993cf;
  background: #def2fb;
  font-family: 'Montserrat', sans-serif;
}

/*Footer Section*/
.content {
  flex: 1 0 auto;
  color: #4993cf;
}

.footer {
  flex-shrink: 0;
  background: #def2fb;
  color: #4993cf;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

/*social links in the footer*/
.fa {
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  color: #4993cf;
}

.fa:hover {
  opacity: 0.7;
  color: #a0d5ae;
}

#social {
  color: #4993cf;
}

/*Media Section*/
@media screen and (max-width: 768px) {

.navbar-toggler .navbar-expand-lg {
  border-radius: .25rem;
  color: #f0d194;
  }
  
.navbar {
  border: 1px solid #f0d194;
  }

.container {
  float: right;
  }
}
