/*background images from shuttershock - stock photography*/

/*body of the page*/
 body {
  background-color: #4f2063;
  color: #f0d194;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: normal;
}

/*navbar section*/
.navbar, .navbar-nav, .navbar-brand, .nav-link, .navbar-toggler, .navbar-toggler-icon {
  background: #4f2063;
  color: #f0d194;
  font-family: 'Montserrat', sans-serif;
}

.navbar-expand-lg, .navbar-toggler{
  color: #f0d194;
  border-color: #f0d194;
  background-color: #4f2063;
}

/*background image*/
.hero {
  position: fixed;
  background-position: center;
  height: 100%;
  width: 100%;
  background-image: url("../images/port1.jpg");
  background-size: cover;
}

/*Card Section with projects*/
.row {
  margin-top: 25px;
  color: #4f2063;
}

 /*Media Section*/
@media screen and (max-width: 768px) {

  .navbar-toggler .navbar-expand-lg {
    border-radius: .25rem;
    color: #f0d194;
  }
  
  .navbar {
    border: 1px solid #f0d194;
  }
}