/*body of the page*/
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to left, #e0eeff, white);
  color: #4993cf;
}

/*navbar section*/
/*This is the navbar section*/
.navbar, .navbar-nav, .navbar-brand, .nav-link, .navbar-toggler, .navbar-toggler-icon {
  /* background: #def2fb;*/
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.navbar-expand-lg, .navbar-toggler{
  color: white;
  border-color: #4993cf;
  /* background-color: #def2fb; */
  background-image: linear-gradient(to left, #91b3fa, #298ca5);
}

.nav-link:hover {
  border-top: 4px solid #ff8983;
}

/*Project main text*/
h1{
  margin-top: 60px;
  text-align: center;
  font-family: 'Vast Shadow', cursive;
}

/*Portfolio Section*/
.container{
  margin-top: 40px;
  text-align: center;
  display: inline;
}

.card-body{
  border: 1px solid #4993cf;
}

#newRow{
  margin-top: 25px;
}

img{
  border: 1px solid #4993cf;
}

#dBugMeText{
padding: px;
}

#plannerText {
  padding: 7px;
}

#weatherAppText{
  padding: 22.5px;
}

#fitnessTrackerText {
  padding: 2.5px;
}

#dinnerDiceText{
  padding: 8px;
}

#dinnerDice{
  padding: 38px;
}

#passwordGen{
  padding: 47px;
}

#passwordText{
  padding: 2px;
}

#bookmarkedText{
  padding: px;
}

#bookmarkedLogo {
  padding: px;
}

#dBugMeLogo{
  padding: 15px;
  }

.btn{
  background-color: #def2fb;
  color: #4993cf;
  font-weight: bold;
}

.btn:hover{
  opacity: 0.7;
  color: #a0d5ae;
}

#repoText{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: bold;
}

#repoText:hover{
  color: #ff8983;
}

/*Footer Section*/
.content {
  flex: 1 0 auto;
  color: #4993cf;
  margin-top: 100px;
}

.footer {
  flex-shrink: 0;
  background-image: linear-gradient(to left, #91b3fa, #298ca5);
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

/*social links in the footer*/
#footerIcons {
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  color: white;
}

#footerIcons:hover {
  color: #ff8983;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

 /*Media Section*/
@media screen and (max-width: 768px) {

.navbar-toggler .navbar-expand-lg {
  border-radius: .25rem;
  color: #4993cf;
}
  
.navbar {
  border: 1px solid #4993cf;
}

h1{
  text-align: center;
}

.col-md-4{
  justify-content: center;
  display: flex;
  margin-top: 0;
}
}