/*background image from shuttershock - stock photography*/

/*body of the page*/
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: white;
  color: #4993cf;
}

/*This is the navbar section*/
.navbar, .navbar-nav, .navbar-brand, .nav-link, .navbar-toggler, .navbar-toggler-icon {
  /* background: #def2fb;*/
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.navbar-expand-lg, .navbar-toggler{
  color: white;
  border-color: #4993cf;
  /* background-color: #def2fb; */
  background-image: linear-gradient(to left, #91b3fa, #4993cf);
}

.nav-link:hover {
  border-top: 4px solid #ff8983;
}


/*Background Image Section*/
.mainImage {
  background-image: url("../images/20943839.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  margin-top: 70px;
  top: 0px;
  left: 10px;
  width: 100%;
  height: 100%;
}

/*Welcome Text*/
.centered {
  text-align: center;
  font-size: 70px;
  color: #4993cf;
  font-family: 'Vast Shadow', cursive;
}

/*Footer Section*/
.content {
  flex: 1 0 auto;
  color: #4993cf;
}

.footer {
  flex-shrink: 0;
  background-image: linear-gradient(to left, #91b3fa, #4993cf);
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

/*social links in the footer*/
.fa {
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.fa:hover {
  color: #ff8983;
}

/*Media Section for screen sizing*/ 
@media screen and (max-width: 768px) {

.navbar-toggler .navbar-expand-lg {
  border-radius: .25rem;
  color: #4993cf;
}

.navbar {
  border: 1px solid #4993cf;
}
 
.mainImage {
  display: inline;
  margin-top: 50px;
  width: 500px;
  height: 500px;
}

.centered {
  margin-top: 0;
}
}